
  <!-- <link rel="stylesheet" href="../assets/css/project_page.css"> -->



  <div class="container mt-5" > <!-- Add margin-top for spacing -->
    <div class="d-flex justify-content-center"> <!-- This div will center the project details card -->
        <div class="card w-50"> <!-- Adjust the width as needed to center the card -->
            <div class="card-body">
                <h5 class="card-title text-center">Project Name: <%= project.name %></h5>
                <p class="card-text">Project Details: <%= project.description %></p>
                <p class="card-text">Project Author: <%= project.author %></p>
            </div>
        </div>
    </div>
    <!-- The issues list will follow and take the full width -->
    <div > <!-- Adds a little space between the card and the issues list -->
        <%- include('./partials/_issues'); %>
    </div>
</div>
