.home-container{
    background-color: #9EC5FE;
    color: #332701;
}
.home-container:hover{
    background-color: #96b9ee;
}
.project-name{
    margin: auto;
    margin-left: 1%;
}
.front{
    will-change: transform;
    transition: transform 250ms;
}
.open-project-btn:hover .front{
    transform: translateY(-6px);
}
.open-project-btn:active .front{
    transform: translateY(-2px);
}